<!DOCTYPE html>
<html lang="es">
<head>
	<title>ML clinical support platform</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/login.css' %}">
	
	
</head>

<body>
	<!-- {% if form.errors %}
	     {% for errors in form.errors %}
	        {{ errors }}
	    {% endfor %}
	{% endif %}-->
<div class="resultbox">
<form action="./resultado" method="get" class="form-signin" >
<h2 class="form-signin-heading"> Predicción para {{model_name}}</h2>
    <div class="form-group">
    {% csrf_token %}
	{% for field in form %}
		        <div class="submit-link-row">{{ field.label_tag }} {{ field }} <br> </div>      
	{% endfor %}
	</table>
    <input type="submit" value="Predecir" class="btn btn-lg btn-primary btn-block"/>
    </div>
    <p>Tenga presente que el pronóstico solo es una estimación. Consulte a su médico para confirmar los resultados.</p>
</form>
</div>
</body>